body {
    font-family: 'Roboto', sans-serif;
    background-color: #0c0d0e;
    color: white;
}


.container {
    margin-top: 25px;
}

.header2 {
    font-weight: bold;
    color: white;
    text-align: center;
}



.carousel-header {
    font-weight: bold;
}

.Henfield-mens-branch, .Henfield-ladies-branch {
    margin-top: 20px;
}

h4 {
    font-weight: bold;
}

img {
    margin: 5px;
}

.content-text-bold {
    font-weight: bold;
    color: white;
    text-align: center;
}

.content-text {
    text-align: center;
    color: white;
}

.phone-number {
    display: block;
    text-align: center;
}

#owner-photo {
    display: block;
    margin: 20px auto;
}