body {
    font-family: 'Roboto', sans-serif;
    background-color: #0c0d0e;
    color: white;
}


.header2 {
    font-weight: bold;
    color: white;
    text-align: left;
}


h4 {
    font-weight: bold;
}

img {
    margin: 5px;
}