/* Homepage */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0c0d0e;
    color: white;
}

.carousel-header {
    font-weight: bold;
}

.col-4 {
   border: 2px solid;
}

.col-8 {
    padding-right: 69px;
}

.special-occassions {
    margin-top: 23px;
}

.header2 {
    font-weight: bold;
    color: white;
    text-align: center;
}

.content-text-bold {
    font-weight: bold;
    color: white;
    text-align: center;
}

.content-text {
    text-align: center;
    color: white;
}

.container {
    max-width: 1024px;
    margin-top: 20px;
    padding: 0 !important;
}

.carousel-caption {
    text-shadow: 3px 3px 2px black;
}

.row {
    padding-right: 15px;
}

.phone-number {
    display: block;
    text-align: center;
}

a {
    color: #72D3D4;
}

a:hover {
    color: #A1A1D4;
}

.header-link:hover {
    color: #A1A1D4;
}

.logo {
    font-size: 3em;
    color: #72D3D4;
    margin-right: 15px;
}

.Henfield-ladies-branch-homepage, .Henfield-mens-branch-homepage {
    margin: 15px 0;
}


/* Gallery */

h4 {
    font-weight: bold;
}

#branches {
    margin: 60px auto;
}
.Henfield-mens-branch, .Henfield-ladies-branch {
    margin-top: 20px;
}

img {
    margin: 5px;
}

.gallery-image {
    transition: all 1s;
}

.gallery-image:hover{
    transform: scale(1.1);
}

#owner-photo {
    display: block;
    margin: 50px auto;
}

.imglist {
    width: 700px;
    max-width: 700px;
}