.body {
    font-family: 'Roboto', sans-serif;
}

.carousel-header {
    font-weight: bold;
}

/* .row {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid; 
    border-color: rgba(86,61,124,.2);
} */

.header2 {
    font-weight: bold;
    text-align: center;
}

.content-text-bold {
    font-weight: bold;
    text-align: center;
}

.content-text {
    text-align: center;
}
